@import '../../../../theme/colors';

.skillmaincontainer {
    background: #94989d;
    font-size: 18px !important;
    min-height: 18px;
    line-height: 22px !important;
    border-radius: 25px;
    text-align: center;
    color: #f9f0e0;
}
